@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');
body {
    max-height: 1024px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    font-family: 'Dancing Script', 'BhuTuka Expanded One' 'Segoe UI';
    background: rgb(46, 44, 44);
    display: flex;
    justify-content: space-between;
}

.liens {
    font-size: 25px;
    height: auto;
    margin: 50px;
    text-align: center;
    justify-content: space-between;
}

.lien {
    font-family: 'Dancing Script', 'BhuTuka Expanded One';
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
    color: orange;
    text-decoration: none;
    border-radius: 15px;
}

.lien:hover {
    color: white;
    border-radius: 15px;
    transition: 0.5s;
    background-color: orange;
}

.main {
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.intro {
    font-size: 40px;
    text-align: center;
    margin-right: 200px;
    font-family: 'BhuTuka Expanded One', Verdana, sans-serif;
    color: orange;
}

.profil1 {
    margin-left: 100px;
    height: 400px;
    border-radius: 10px 40% 10px 40%;
    transition: 0.5s;
    cursor: pointer;
}

.profil1:hover {
    height: 420px;
    transition: 0.5s;
    cursor: pointer
}

.profil {
    margin-left: 100px;
    padding: 20px;
    height: 150px;
    width: 130px;
    border-radius: 50%;
    cursor: pointer;
}
.btn {
  color: orange;
  height: 50px;
  width: 100px;
  background :white;
  border-radius: 10px;
  border: 1px solid orange;
}

.btn:hover {
  background: orange;
  transition: 0.5s;
}

.histoire{
  column-gap: 10px;
  padding: 20px;
  font-size: 25px;
  font-family:'Dancing Script', Verdana, sans-serif;
}
.services {
    padding: 20px;
    font-size: 30px;
    font-family: 'Dancing Script', Verdana, sans-serif;
}

footer {
    color: white;
    background: rgb(46, 44, 44);
}

.container {
    border-left: 2 solid orange;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.form {
    width: 200px;
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: 1px solid orange;
}

textarea {
  height: 150px;
  width: 300px;
    outline: none;
    border: 1px solid orange;
    border-radius: 10px;
}

.button {
    color: white;
    height: 50px;
    width: 100px;
    background-color: rgb(46, 44, 44);
    border-radius: 10px;
    border: 1px solid orange
}

.button:hover {
    background: orange;
    transition: 0.5s;
}

.reseaux a {
    color: white;
    text-decoration: none;
}

.reseaux a:hover {
    color: green;
}
